
.participant-list-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 25px;
    font-family: 'Mountains of Christmas';
    color: #ff4734;
    list-style: none;
}

li {
    margin-bottom: 5px;
}

h4 {
    font-family: 'Mountains of Christmas';
    color: #f4281f; 
    font-size: 1.4em;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 25px;
}

ol {
    list-style-type: decimal;
    padding-left: 25px;
    font-family: 'Mountains of Christmas';
}

ol li {
    padding: 5px 0;
    list-style: none;
}

strong {
    font-weight: 700;
    color: #06b279; 
}

.action-buttons {
    margin-top: 20px;
}

.action-buttons button {
    margin-right: 10px;
    width: auto;
}

.secret-santa{
    display: block;
    margin: 0 auto;
}

.responsive-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;   
  height: auto;    
}

.responsive-img:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
